{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Hakkımızda</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <section>
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInRight">
                            <h2>Müşterilerimize her türlü etkinlik için geniş bir <span class="id-color">ticari araç</span> ve <span class="id-color">lüks araç</span> yelpazesi sunuyoruz.</h2>
                        </div>
                        <div class="col-lg-6 wow fadeInRight" data-wow-delay=".25s">
                            Anatolia Wheels olarak, geniş bir ticari ve lüks araç yelpazesiyle müşterilerimizin her türlü etkinlik ve ihtiyaçlarına cevap veriyoruz. Türkiye'nin önde gelen araç kiralama hizmetlerinden biri olarak, müşteri memnuniyetini ve konforunu her zaman önceliklendiriyoruz.
                            Yenilikçi ve güvenilir hizmet anlayışımızla, iş seyahatlerinden özel günlerinize kadar her türlü yolculuğunuzda yanınızdayız. En yeni model araçlarımız ve kişiye özel hizmetlerimizle, Anatolia Wheels sizlere sadece bir yolculuk değil, unutulmaz bir deneyim sunmayı hedeflemektedir.
                            Anatolia Wheels ile yola çıkın, farkı yaşayın!
                        </div>
                    </div>
                    <div class="spacer-double"></div>
                    <div class="row text-center">
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                                <h3 class="timer" data-to="15425" data-speed="3000">0</h3>
                                Çalışma Saati
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                                <h3 class="timer" data-to="10000" data-speed="3000">0</h3>
                                Müşteri 
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                                <h3 class="timer" data-to="235" data-speed="3000">0</h3>
                                Ödül Kazanımı
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                                <h3 class="timer" data-to="15" data-speed="3000">0</h3>
                                Yıl Deneyim
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section aria-label="section" class="jarallax text-light">
                <img src="{% static 'images/background/8.jpg' %}" class="jarallax-img" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>Board of Directors</h2>
                            <div class="spacer-20"></div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                            <div class="f-profile text-center">
                                <div class="fp-wrap f-invert">
                                    <div class="fpw-overlay">
                                        <div class="fpwo-wrap">
                                            <div class="fpwow-icons">
                                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>                                  
                                    <div class="fpw-overlay-btm"></div>
                                    <img src="{% static 'images/team/1.jpg' %}" class="fp-image img-fluid" alt="">
                                </div>

                                <h4>Fynley Wilkinson</h4>
                                Kreatif Direktör
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                            <div class="f-profile text-center">
                                <div class="fp-wrap f-invert">
                                    <div class="fpw-overlay">
                                        <div class="fpwo-wrap">
                                            <div class="fpwow-icons">
                                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>                                  
                                    <div class="fpw-overlay-btm"></div>
                                    <img src="{% static 'images/team/2.jpg' %}" class="fp-image img-fluid" alt="">
                                </div>

                                <h4>Peter Welsh</h4>
                                Kreatif Direktör
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                            <div class="f-profile text-center">
                                <div class="fp-wrap f-invert">
                                    <div class="fpw-overlay">
                                        <div class="fpwo-wrap">
                                            <div class="fpwow-icons">
                                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>                                  
                                    <div class="fpw-overlay-btm"></div>
                                    <img src="{% static 'images/team/3.jpg' %}" class="fp-image img-fluid" alt="">
                                </div>

                                <h4>John Shepard</h4>
                                Kreatif Direktör
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                            <div class="f-profile text-center">
                                <div class="fp-wrap f-invert">
                                    <div class="fpw-overlay">
                                        <div class="fpwo-wrap">
                                            <div class="fpwow-icons">
                                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                            </div>
                                        </div>
                                    </div>                                  
                                    <div class="fpw-overlay-btm"></div>
                                    <img src="{% static 'images/team/4.jpg' %}" class="fp-image img-fluid" alt="">
                                </div>

                                <h4>Robyn Peel</h4>
                                Finans Direktörü
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section aria-label="section">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 offset-lg-3 text-center">
                            <h2>Özelliklerimiz</h2>
                            <div class="spacer-20"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-3">
                            <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".5s">
                                <i class="fa bg-color fa-trophy"></i>
                                <div class="d-inner">
                                    <h4>Birinci sınıf hizmetler</h4>
                                    Lüksün olağanüstü özenle buluştuğu yerde, unutulmaz anlar yaratır ve her beklentinizi aşar.
                                </div>
                            </div>
                            <div class="box-icon s2 p-small mb20 wow fadeInL fadeInRight" data-wow-delay=".75s">
                                <i class="fa bg-color fa-road"></i>
                                <div class="d-inner">
                                    <h4>7/24 yol yardımı</h4>
                                    En çok ihtiyaç duyduğunuz anda güvenilir destek, sizi güven ve gönül rahatlığıyla hareket halinde tutar.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <img src="{% static 'images/misc/car.png' %}" alt="" class="img-fluid wow fadeInUp">
                        </div>

                        <div class="col-lg-3">
                            <div class="box-icon s2 d-invert p-small mb20 wow fadeInL fadeInLeft" data-wow-delay="1s">
                                <i class="fa bg-color fa-tag"></i>
                                <div class="d-inner">
                                    <h4>Minimum Masrafla Kalite</h4>
                                    Maksimum değer için maliyetleri en aza indirirken kaliteyi yükselterek uygun fiyatlı parlaklığın kilidini açmak.
                                </div>
                            </div>
                            <div class="box-icon s2 d-invert p-small mb20 wow fadeInL fadeInLeft" data-wow-delay="1.25s">
                                <i class="fa bg-color fa-map-pin"></i>
                                <div class="d-inner">
                                    <h4>Ücretsiz Teslim Alma ve Teslim Etme</h4>
                                    Araç kiralama deneyiminize ekstra bir kolaylık katan ücretsiz teslim alma ve bırakma hizmetlerinin keyfini çıkarın.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-img-with-tab">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 offset-lg-7">
                            
                            <h2>Müşteriler İçin Sadece Kalite</h2>
                            <div class="spacer-20"></div>
                            
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                              <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Lüks</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Konfor</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Prestij</button>
                              </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><p>Piyasada en çok rağbet gören lüks araçlardan oluşan titizlikle seçilmiş bir koleksiyon sunuyoruz. İster yüksek performanslı bir spor otomobilin sportif cazibesini, ister şık ve lüks bir sedanın sofistikeliğini veya birinci sınıf bir SUV'un çok yönlülüğünü tercih edin, seçkin zevkinize uygun mükemmel bir otomobilimiz var.</p></div>
                              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><p>Yolculuğunuz boyunca rahatınıza ve konforunuza öncelik veriyoruz. İster bir iş seyahatine çıkıyor ister rahat bir tatilin tadını çıkarıyor olun, konforlu bir yolculuğun dünyalar kadar fark yaratabileceğini biliyoruz. Bu nedenle, özel ihtiyaçlarınızı karşılayan çok çeşitli bakımlı, konforlu araçlar sunuyoruz.</p></div>
                              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><p>Prestijin lüksün ötesine geçtiğini biliyoruz. Bu, bir açıklama yapmak, sofistike olmayı kucaklamak ve hayattaki daha ince şeylerin tadını çıkarmakla ilgilidir. Bu nedenle zarafet, stil ve statü yansıtan prestijli otomobillerden oluşan seçkin bir seçki sunuyoruz.</p></div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="image-container col-md-6 pull-right" data-bgimage="url({% static 'images/background/5.jpg' %}) center"></div>
            </section>

            <section id="section-call-to-action" class="bg-color-2 pt60 pb60 text-light">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <h2 class="s2">Daha fazla bilgi için bizi arayın. Anatolia Wheels müşteri hizmetleri size her zaman yardımcı olmak için burada.</h2>
                        </div>

                        <div class="col-lg-4 text-lg-center text-sm-center">
                            <div class="phone-num-big">
                                <i class="fa fa-phone"></i>
                                <span class="pnb-text">
                                    Şimdi Bizi Arayın
                                </span>
                                <span class="pnb-num">
                                    1 200 333 800
                                </span>
                            </div>
                            <a href="#" class="btn-main">Bize Ulaşın</a>
                        </div>
                    </div>
                </div>
            </section>
			
        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>
{% endblock %}