{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>{{blog.title}}</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
			<section aria-label="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="blog-read">

                                <img alt="" src="{{ blog.blog_detail_image.url }}" class="img-fullwidth mb30">

                                <div class="post-text">
                                    <p>{{ blog.content }}</p>

                                </div>

                            </div>

                            <div class="spacer-single"></div>

                            <div id="blog-comment">
                                <h4>Yorumlar ({{comments.count}})</h4>

                                <div class="spacer-half"></div>

                                <ol>
                                    {% for comment in comments %}
                                        <li>
                                            <div class="avatar">
                                                <img src="{% static 'images/misc/avatar-2.jpg' %}" alt="">
                                            </div>
                                            <div class="comment-info">
                                                <span class="c_name">{{ comment.user.username }}</span>
                                                <span class="c_date id-color">{{ comment.created_at|date:"d F Y" }}</span>
                                                <div class="clearfix"></div>
                                            </div>
                                
                                            <div class="comment">{{ comment.content }}</div>
                                        </li>
                                    {% empty %}
                                        <li>Henüz Yorum Yok</li>
                                    {% endfor %}
                                </ol>
                                
                                

                                <div class="spacer-single"></div>

                                <!-- Comment Form -->
                                <div id="comment-form-wrapper">
                                    <h4>Yorum Bırak</h4>
                                    <div class="comment_form_holder">
                                        <form method="post" action="{% url 'blog_detail' blog.slug %}">
                                            {% csrf_token %}
                                            <textarea name="comment" cols="40" rows="4" class="form-control" placeholder="Yorumun"></textarea>
                                            <br>
                                            <input type="submit" value="Gönder" class="btn btn-primary">
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="sidebar" class="col-md-4">
                            <div class="widget">
                                    <h4>Share With Friends</h4>
                                    <div class="small-border"></div>
                                    <div class="de-color-icons">
                                        <span><i class="fa fa-twitter fa-lg"></i></span>
                                        <span><i class="fa fa-facebook fa-lg"></i></span>
                                        <span><i class="fa fa-reddit fa-lg"></i></span>
                                        <span><i class="fa fa-linkedin fa-lg"></i></span>
                                        <span><i class="fa fa-pinterest fa-lg"></i></span>
                                        <span><i class="fa fa-stumbleupon fa-lg"></i></span>
                                        <span><i class="fa fa-delicious fa-lg"></i></span>
                                        <span><i class="fa fa-envelope fa-lg"></i></span>
                                    </div>
                                </div>

                                <div class="widget widget-post">
                                <h4>Son Gönderimler</h4>
                                <div class="small-border"></div>
                                <ul class="de-bloglist-type-1">

                                    {% for bdrp in blog_detail_recent_posts %}

                                        <li>
                                            <div class="d-image">
                                                <img src="{{ bdrp.blog_recent_image.url }}" alt="">
                                            </div>
                                            <div class="d-content">
                                                <a href="#"><h4>{{ bdrp.title }}</h4></a>
                                                <div class="d-date">{{ bdrp.created_at }}</div>
                                            </div>
                                        </li>

                                    {% endfor %}
                                    
                                </ul>
                            </div>

                            <div class="widget widget-text">
                                <h4>About Us</h4>
                                <div class="small-border"></div>
                                <p class="small no-bottom">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                </p>
                            </div>
                            <div class="widget widget_tags">
                                <h4>Tags</h4>
                                <div class="small-border"></div>
                                <ul>
                                    <li><a href="#link">konaklama</a></li>
                                    <li><a href="#link">tatil</a></li>
                                    <li><a href="#link">pansiyon</a></li>
                                    <li><a href="#link">otel</a></li>
                                    <li><a href="#link">seyehat</a></li>
                                    <li><a href="#link">han</a></li>
                                    <li><a href="#link">köşk</a></li>
                                    <li><a href="#link">tatil köyü</a></li>
                                    <li><a href="#link">turizm</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>
{% endblock %}