{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h1>Blog</h1>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <section id="section-hero" aria-label="section">
                <div class="container">
                    <div class="row gx-5">
                        <div class="col-lg-8">
                            <div class="row">

                                {% for blog in blogs %}

                                    <div class="col-lg-6 mb20">
                                        <div class="bloglist s2 item">
                                            <div class="post-content">
                                                <div class="post-image">
                                                    <div class="date-box">
                                                        <div class="m">{{ blog.created_at|date:"d" }}</div>
                                                        <div class="d">{{ blog.created_at|date:"M" }}</div>
                                                    </div>
                                                    <img alt="rentacar" src="{{ blog.blog_image1.url }}" class="lazy">
                                                </div>
                                                <div class="post-text">                           
                                                    <h4><a href="{% url 'blog_detail' slug=blog.slug %}">{{ blog.title }}<span></span></a></h4>
                                                    <p>{{ blog.summary }}</p>
                                                    <a class="btn-main" href="{% url 'blog_detail' slug=blog.slug %}">Daha Fazlası</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                                <div class="spacer-single"></div>
                                        
                                <div class="col-md-12">
                                    <ul class="pagination">
                                        <li><a href="#">Önceki</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">Sonraki</a></li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>

                            <div class="col-lg-4">
                            <div class="widget widget-post">
                                <h4>Son Gönderiler</h4>
                                <div class="small-border"></div>
                                <ul class="de-bloglist-type-1">

                                    {% for brp in blog_recent_posts %}

                                        <li>
                                            <div class="d-image">
                                                <img src="{{ brp.blog_recent_image.url }}" alt="">
                                            </div>
                                            <div class="d-content">
                                                <a href="{% url 'blog_detail' slug=brp.slug %}"><h4>{{ brp.title }}</h4></a>
                                                <div class="d-date">{{ brp.created_at }}</div>
                                            </div>
                                        </li>

                                    {% endfor %}

                                    </li>
                                </ul>
                            </div>
                            
                            <div class="widget widget_tags">
                                <h4>Popular Tags</h4>
                                <div class="small-border"></div>
                                <ul>
                                    <li><a href="#link">konaklama</a></li>
                                    <li><a href="#link">tatil</a></li>
                                    <li><a href="#link">pansiyon</a></li>
                                    <li><a href="#link">otel</a></li>
                                    <li><a href="#link">seyehat</a></li>
                                    <li><a href="#link">han</a></li>
                                    <li><a href="#link">köşk</a></li>
                                    <li><a href="#link">tatil köyü</a></li>
                                    <li><a href="#link">turizm</a></li>
                                </ul>
                            </div>

                            <div class="widget">
                                <h4>Görüşler</h4>
                                <div class="small-border"></div>
                                <div class="owl-carousel owl-theme" id="testimonial-carousel-1-col">
                                    <div class="item">
                                        <div class="de_testi type-2">
                                            <blockquote>
                                                <h4>Mükemmel Hizmet!</h4>
                                                <p>Daha önce hiç görmediğim kadar büyük destek. Destek ekibine teşekkürler, çok yardımcı oluyorlar. Bu şirket müşterilerine harika bir çözüm sunuyor, bu da onları en iyi yapıyor.</p>
                                                <div class="de_testi_by">
                                                    <img alt="" class="rounded-circle" src="{% static 'images/people/1.jpg' %}"> <span>John, Pixar Studio</span>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="de_testi type-2">
                                            <blockquote>
                                                <h4>Mükemmel Hizmet!</h4>
                                                <p>Daha önce hiç görmediğim kadar büyük destek. Destek ekibine teşekkürler, çok yardımcı oluyorlar. Bu şirket müşterilerine harika bir çözüm sunuyor, bu da onları en iyi yapıyor.</p>
                                                <div class="de_testi_by">
                                                    <img alt="" class="rounded-circle" src="{% static 'images/people/2.jpg' %}"> <span>Sarah, Microsoft</span>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="de_testi type-2">
                                            <blockquote>
                                                <h4>Mükemmel Hizmet!</h4>
                                                <p>Daha önce hiç görmediğim kadar büyük destek. Destek ekibine teşekkürler, çok yardımcı oluyorlar. Bu şirket müşterilerine harika bir çözüm sunuyor, bu da onları en iyi yapıyor.</p>
                                                <div class="de_testi_by">
                                                    <img alt="" class="rounded-circle" src="{% static 'images/people/3.jpg' %}"> <span>Michael, Apple</span>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="de_testi type-2">
                                            <blockquote>
                                                <h4>Mükemmel Hizmet!</h4>
                                                <p>Daha önce hiç görmediğim kadar büyük destek. Destek ekibine teşekkürler, çok yardımcı oluyorlar. Bu şirket müşterilerine harika bir çözüm sunuyor, bu da onları en iyi yapıyor.</p>
                                                <div class="de_testi_by">
                                                    <img alt="" class="rounded-circle" src="{% static 'images/people/4.jpg' %}"> <span>Thomas, Samsung</span>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="de_testi type-2">
                                            <blockquote>
                                                <h4>Mükemmel Hizmet!</h4>
                                                <p>Daha önce hiç görmediğim kadar büyük destek. Destek ekibine teşekkürler, çok yardımcı oluyorlar. Bu şirket müşterilerine harika bir çözüm sunuyor, bu da onları en iyi yapıyor.</p>
                                                <div class="de_testi_by">
                                                    <img alt="" class="rounded-circle" src="{% static 'images/people/1.jpg' %}"> <span>John, Pixar Studio</span>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="de_testi type-2">
                                            <blockquote>
                                                <h4>Mükemmel Hizmet!</h4>
                                                <p>Daha önce hiç görmediğim kadar büyük destek. Destek ekibine teşekkürler, çok yardımcı oluyorlar. Bu şirket müşterilerine harika bir çözüm sunuyor, bu da onları en iyi yapıyor.</p>
                                                <div class="de_testi_by">
                                                    <img alt="" class="rounded-circle" src="{% static 'images/people/2.jpg' %}"> <span>Sarah, Microsoft</span>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="de_testi type-2">
                                            <blockquote>
                                                <h4>Mükemmel Hizmet!</h4>
                                                <p>Daha önce hiç görmediğim kadar büyük destek. Destek ekibine teşekkürler, çok yardımcı oluyorlar. Bu şirket müşterilerine harika bir çözüm sunuyor, bu da onları en iyi yapıyor.</p>
                                                <div class="de_testi_by">
                                                    <img alt="" class="rounded-circle" src="{% static 'images/people/3.jpg' %}"> <span>Michael, Apple</span>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="de_testi type-2">
                                            <blockquote>
                                                <h4>Mükemmel Hizmet!</h4>
                                                <p>Daha önce hiç görmediğim kadar büyük destek. Destek ekibine teşekkürler, çok yardımcı oluyorlar. Bu şirket müşterilerine harika bir çözüm sunuyor, bu da onları en iyi yapıyor.</p>
                                                <div class="de_testi_by">
                                                    <img alt="" class="rounded-circle" src="{% static 'images/people/4.jpg' %}"> <span>Thomas, Samsung</span>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- content close -->
        <a href="#" id="back-to-top"></a>
{% endblock %}

