{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block content %}
        <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/background/2.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Kiralık Araçlar</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            <section id="section-cars">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <form method="GET" action="{% url 'cars' %}">
                                <div class="item_filter_group">
                                    <h4>Kasa Tipi</h4>
                                    <div class="de_form">
                                        <div class="de_checkbox">
                                            <input id="cabrio" name="cabrio" type="checkbox" value="cabrio" {% if 'cabrio' in selected_filters %}checked{% endif %}>
                                            <label for="cabrio">Cabrio</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="coupe" name="coupe" type="checkbox" value="coupe" {% if 'coupe' in selected_filters %}checked{% endif %}>
                                            <label for="coupe">Coupe</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="hatchback" name="hatchback" type="checkbox" value="hatchback" {% if 'hatchback' in selected_filters %}checked{% endif %}>
                                            <label for="hatchback">Hatchback</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="minivan" name="minivan" type="checkbox" value="minivan" {% if 'minivan' in selected_filters %}checked{% endif %}>
                                            <label for="minivan">Minivan</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="pickup" name="pickup" type="checkbox" value="pickup" {% if 'pickup' in selected_filters %}checked{% endif %}>
                                            <label for="pickup">Pickup</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="sedan" name="sedan" type="checkbox" value="sedan" {% if 'sedan' in selected_filters %}checked{% endif %}>
                                            <label for="sedan">Sedan</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="sport" name="sport" type="checkbox" value="sport" {% if 'sport' in selected_filters %}checked{% endif %}>
                                            <label for="sport">Sport</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="station_wagon" name="station_wagon" type="checkbox" value="station_wagon" {% if 'station_wagon' in selected_filters %}checked{% endif %}>
                                            <label for="station_wagon">Station Wagon</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="suv" name="suv" type="checkbox" value="suv" {% if 'suv' in selected_filters %}checked{% endif %}>
                                            <label for="suv">SUV</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit">Filtrele</button>
                            </form>
                        </div>

                        <div class="col-lg-9">
                            <div class="row">
                                {% for car in cars %}
                                    <div class="col-lg-12">
                                        <div class="de-item-list mb30">
                                            <div class="d-img">
                                                <img src="{{car.image1}}" class="img-fluid" alt="">
                                            </div>
                                            <div class="d-info">
                                                <div class="d-text">
                                                    <h4>{{car.brand}}&nbsp;{{car.series}}&nbsp;{{car.model}}</h4>
                                                    <div class="d-atr-group">
                                                        <ul class="d-atr">
                                                            <li><span>Bagaj:</span>{{car.luggage_volume}} L</li>
                                                            <li><span>Kapı:</span>{{car.number_of_doors}}</li>
                                                            <li><span>Yakıt:</span>{{car.fuel_type}}</li>
                                                            <li><span>Vites:</span>{{car.transmission_type}}</li>
                                                            <li><span>Km:</span>{{car.km}}</li>
                                                            <li><span>Araç Tipi:</span>{{car.vehicle_type}}</li>
                                                            <li><span>Kasa Tipi:</span>{{car.case_type}}</li>
                                                            <li><span>Renk:</span>{{car.color}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-price">
                                                Günlük Ücret <span>{{car.price_per_day}} ₺</span>
                                                {% if car.is_damaged %}
                                                    <a class="btn-main" style="background-color: red;">Kazalı</a>
                                                {% else %}
                                                    <a class="btn-main" href="{% url 'car_detail' car.slug %}">Kirala</a>
                                                {% endif %}
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    {% empty %}
                                        <h4 style="text-align: center; color:red;">Aradığınız kriterlere uygun araç bulunamadı.</h4>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			
			
        </div>
        <!-- content close -->
        <a href="#" id="back-to-top"></a>
{% endblock %}
