{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block content %}
        <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/background/2.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Kiralık Araçlar</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            <section id="section-cars">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <form action="{% url 'cars' %}" method="GET">  <!-- Replace 'cars_url_name' with the actual URL name -->
                                <div class="item_filter_group">
                                    <h4>Kasa Tipi Seç</h4>
                                    <div class="de_form">
                                        <div class="de_checkbox">
                                            <input id="car_body_type_1" name="case_type" type="checkbox" value="Sedan">
                                            <label for="car_body_type_1">Sedan</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_2" name="case_type" type="checkbox" value="Hatchback">
                                            <label for="car_body_type_2">Hatchback</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_3" name="case_type" type="checkbox" value="3">
                                            <label for="car_body_type_3">Station Wagon</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_4" name="case_type" type="checkbox" value="4">
                                            <label for="car_body_type_4">Coupe</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_5" name="case_type" type="checkbox" value="5">
                                            <label for="car_body_type_5">Minivan</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_6" name="case_type" type="checkbox" value="6">
                                            <label for="car_body_type_6">Pickup</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_7" name="case_type" type="checkbox" value="7">
                                            <label for="car_body_type_7">SUV</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_8" name="case_type" type="checkbox" value="8">
                                            <label for="car_body_type_8">Sport</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_9" name="case_type" type="checkbox" value="9">
                                            <label for="car_body_type_9">Crossover</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn-main">Filtrele</button>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-9">
                            <div class="row">
                                {% if cars %}
                                    {% for car in cars %}
                                        <div class="col-lg-12">
                                            <div class="de-item-list mb30">
                                                <div class="d-img">
                                                    <img src="{{car.image1}}" class="img-fluid" alt="">
                                                </div>
                                                <div class="d-info">
                                                    <div class="d-text">
                                                        <h4>{{car.brand}}&nbsp;{{car.series}}&nbsp;{{car.model}}</h4>
                                                        <div class="d-atr-group">
                                                            <ul class="d-atr">
                                                                <li><span>Bagaj:</span>{{car.luggage_volume}} L</li>
                                                                <li><span>Kapı:</span>{{car.number_of_doors}}</li>
                                                                <li><span>Yakıt:</span>{{car.fuel_type}}</li>
                                                                <li><span>Vites:</span>{{car.transmission_type}}</li>
                                                                <li><span>Km:</span>{{car.km}}</li>
                                                                <li><span>Araç Tipi:</span>{{car.vehicle_type}}</li>
                                                                <li><span>Kasa Tipi:</span>{{car.case_type}}</li>
                                                                <li><span>Renk:</span>{{car.color}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-price">
                                                    Günlük Ücret <span>{{car.price_per_day}} ₺</span>
                                                    {% if car.is_damaged %}
                                                        <a class="btn-main" style="background-color: red;">Kazalı</a>
                                                    {% else %}
                                                        <a class="btn-main" href="{% url 'car_detail' car.slug %}">Kirala</a>
                                                    {% endif %}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-lg-12">
                                        <h4 style="text-align: center; color: red;">Aradığınız kriterlere uygun araç bulunamadı.</h4>
                                    </div>
                                {% endif %}
                            </div>
                        </div>                        
                    </div>
                </div>
            </section>
        </div>
        <!-- content close -->
        <a href="#" id="back-to-top"></a>
{% endblock %}
