{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block content %}
        <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/background/2.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Kiralık Araçlar</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
            <section id="section-cars">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <form action="{% url 'cars' %}" method="GET">  <!-- Replace 'cars_url_name' with the actual URL name -->
                                <div class="item_filter_group">
                                    <h4>Kasa Tipi Seç</h4>
                                    <div class="de_form">
                                        <div class="de_checkbox">
                                            <input id="car_body_type_1" name="case_type" type="checkbox" value="Cabrio"
                                                {% if checkbox_values.Cabrio %}checked{% endif %}>
                                            <label for="car_body_type_1">Cabrio ({{ case_type_counts.Cabrio|default:0 }})</label>
                                        </div>                                        

                                        <div class="de_checkbox">
                                            <input id="car_body_type_2" name="case_type" type="checkbox" value="Coupe"
                                                {% if checkbox_values.Coupe %}checked{% endif %}>
                                            <label for="car_body_type_2">Coupe ({{ case_type_counts.Coupe|default:0 }})</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_3" name="case_type" type="checkbox" value="Crossover"
                                                {% if checkbox_values.Crossover %}checked{% endif %}>
                                            <label for="car_body_type_3">Crossover ({{ case_type_counts.Crossover|default:0 }})</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_4" name="case_type" type="checkbox" value="Hatchback"
                                                {% if checkbox_values.Hatchback %}checked{% endif %}>
                                            <label for="car_body_type_4">Hatchback ({{ case_type_counts.Hatchback|default:0 }})</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_5" name="case_type" type="checkbox" value="Minivan"
                                                {% if checkbox_values.Minivan %}checked{% endif %}>
                                            <label for="car_body_type_5">Minivan ({{ case_type_counts.Minivan|default:0 }})</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_6" name="case_type" type="checkbox" value="Pickup"
                                                {% if checkbox_values.Pickup %}checked{% endif %}>
                                            <label for="car_body_type_6">Pickup ({{ case_type_counts.Pickup|default:0 }})</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_7" name="case_type" type="checkbox" value="SUV"
                                                {% if checkbox_values.SUV %}checked{% endif %}>
                                            <label for="car_body_type_7">SUV ({{ case_type_counts.SUV|default:0 }})</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_8" name="case_type" type="checkbox" value="Sedan"
                                                {% if checkbox_values.Sedan %}checked{% endif %}>
                                            <label for="car_body_type_8">Sedan ({{ case_type_counts.Sedan|default:0 }})</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_9" name="case_type" type="checkbox" value="Sport"
                                                {% if checkbox_values.Sport %}checked{% endif %}>
                                            <label for="car_body_type_9">Sport ({{ case_type_counts.Sport|default:0 }})</label>
                                        </div>

                                        <div class="de_checkbox">
                                            <input id="car_body_type_10" name="case_type" type="checkbox" value="Station Wagon"
                                                {% if 'Station Wagon' in checkbox_values %}checked{% endif %}>
                                            <label for="car_body_type_10">Station Wagon ({{ case_type_counts.StationWagon|default:0 }})</label>
                                        </div>                                        
                                        
                                    </div>
                                    <br>
                                    <button type="submit" class="btn-main">Filtrele</button>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-9">
                            <div class="row">
                                {% if cars %}
                                    {% for car in cars %}
                                        <div class="col-lg-12">
                                            <div class="de-item-list mb30">
                                                <div class="d-img">
                                                    <img src="{{car.image1}}" class="img-fluid" alt="">
                                                </div>
                                                <div class="d-info">
                                                    <div class="d-text">
                                                        <h4>{{car.brand}}&nbsp;{{car.series}}&nbsp;{{car.model}}</h4>
                                                        <div class="d-atr-group">
                                                            <ul class="d-atr">
                                                                <li><span>Bagaj:</span>{{car.luggage_volume}} L</li>
                                                                <li><span>Kapı:</span>{{car.number_of_doors}}</li>
                                                                <li><span>Yakıt:</span>{{car.fuel_type}}</li>
                                                                <li><span>Vites:</span>{{car.transmission_type}}</li>
                                                                <li><span>Km:</span>{{car.km}}</li>
                                                                <li><span>Araç Tipi:</span>{{car.vehicle_type}}</li>
                                                                <li><span>Kasa Tipi:</span>{{car.case_type}}</li>
                                                                <li><span>Renk:</span>{{car.color}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-price">
                                                    Günlük Ücret <span>{{car.price_per_day}} ₺</span>
                                                    {% if car.is_damaged %}
                                                        <a class="btn-main" style="background-color: red;">Kazalı</a>
                                                    {% else %}
                                                        <a class="btn-main" href="{% url 'car_detail' car.slug %}">Kirala</a>
                                                    {% endif %}
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-lg-12">
                                        <h4 style="text-align: center; color: red;">Aradığınız kriterlere uygun araç bulunamadı.</h4>
                                    </div>
                                {% endif %}
                            </div>
                        </div>                        
                    </div>
                </div>
            </section>
        </div>
        <!-- content close -->
        <a href="#" id="back-to-top"></a>
{% endblock %}
