{% load static %}
<footer class="text-light">
    <div class="container">
        <div class="row g-custom-x">
            <div class="col-lg-3">
                <div class="widget">
                    <h5>Hakkımızda</h5>
                    <p>Yolculuk, sadece bir yerden bir yere gitmek değil, aynı zamanda yeni deneyimler kazanmak, yeni yerler keşfetmek ve yeni anılar biriktirmektir. Biz Anatolia Wheels, bu anlayışla yola çıkarak, sizlere sadece bir araç kiralama hizmeti değil, aynı zamanda unutulmaz anılar biriktireceğiniz bir yolculuk deneyimi sunmayı amaçlıyoruz.</p>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="widget">
                    <h5>İletişim Bilgilerimiz</h5>
                    <address class="s1">
                        <span><i class="id-color fa fa-map-marker fa-lg"></i>08 W 36th St, New York, NY 10001</span>
                        <span><i class="id-color fa fa-phone fa-lg"></i>+90 000 000 00 00 </span>
                        <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">contact@anatoliawheels.com</a></span>
                        <!-- <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Broşürü İndir</a></span> -->
                    </address>
                </div>
            </div>

            <div class="col-lg-3">
                <h5>Hızlı Linkler</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <ul>
                                <li><a href="#">Araçlar</a></li>
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Hesabım</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Sosyal Medya Hesaplarımız</h5>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            <a href="index.html">
                                Copyright 2023 - Rentaly by Ertan Kadim
                            </a>
                        </div>
                        <ul class="menu-simple">
                            <li><a href="#">Şartlar &amp; Koşullar</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->
</div>

<!-- Javascript Files
================================================== -->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/designesia.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgiM7ogCAA2Y5pgSk2KXZfxF5S_1jsptA&amp;libraries=places&amp;callback=initPlaces" async="" defer=""></script>

<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/i18n/datepicker-tr.js"></script>
<script src="{% static 'js/datepicker-init.js' %}"></script>
<script src="{% static 'js/date-picker.js' %}"></script>

<script>
    var bookedDates = {{ booked_dates_json|safe }};
    $(document).ready(function() {
        $("#date-pickerr, #date-pickerr-2").datepicker({
            minDate: 0,
            dateFormat: "dd MM yy",
            regional: "tr",
            beforeShowDay: function(date) {
                var dateString = $.datepicker.formatDate('yy-mm-dd', date);
                if (bookedDates.indexOf(dateString) > -1) {
                    return [false, "booked-date", "Bu tarih müsait değil"];
                } else {
                    return [true, "", ""];
                }
            }
        });
    });
</script>

</body>
</html>