{% load static %}
<!DOCTYPE html>
<html lang="tr">

<head>
    <title>{% block title %} {{ title }} | Anatolia Wheels {% endblock %}</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
    ================================================== -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet" type="text/css" id="mdb">
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/coloring.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <!-- color scheme -->
    <link id="colors" href="{% static 'css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css">
</head>

<body onload="initialize()">
    <div id="wrapper">
        
        <!-- page preloader begin -->
        <div id="de-preloader"></div>
        <!-- page preloader close -->

        <!-- header begin -->
        <header class="transparent scroll-light has-topbar">
            <div id="topbar" class="topbar-dark text-light">
                <div class="container">
                    <div class="topbar-left xs-hide">
                        <div class="topbar-widget">
                            <div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>+208 333 9296</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-envelope"></i>contact@anatoliawheels.com</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>Pzt - Pzr 08.00 - 18.00</a></div>
                        </div>
                    </div>
                
                    <div class="topbar-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
                            <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                            <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                        </div>
                    </div>  
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="{% url 'index' %}">
                                            <img class="logo-1" src="{% static 'images/logo-light.png' %}" alt="">
                                            <img class="logo-2" src="{% static 'images/logo.png' %}" alt="">
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li><a class="menu-item" href="{% url 'index' %}">Anasayfa</a></li>
                                    <li><a class="menu-item" href="{% url 'cars' %}">Araçlar</a></li>
                                    <li><a class="menu-item" href="{% url 'about' %}">Hakkımızda</a></li>
                                    <li><a class="menu-item" href="{% url 'contact' %}">İletişim</a></li>
                                    <li><a class="menu-item" href="{% url 'blog' %}">Blog</a></li>
                                    {% if user.is_customer %}
                                        <li><a class="menu-item" href="{% url 'account_dashboard' %}">Hesabım</a></li>
                                    {% elif user.is_admin %}
                                        <li><a class="menu-item" href="{% url 'admin:index' %}" target="_blank">Admin Panel</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    {% if user.is_authenticated %}
                                        <span style="font-weight: bold; color: #007bff;">Hoş geldin, {{ user.username }}</span>
                                        <a href="{% url 'user_logout' %}" class="btn-main" style="background-color: #ff0000; color: #fff;">Çıkış Yap</a>
                                    {% else %}
                                        <a href="{% url 'user_login' %}" class="btn-main">Giriş Yap</a>
                                    {% endif %}
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                                                                                                          
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- content begin -->