{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <section id="section-hero" aria-label="section" class="jarallax no-top no-bottom" data-video-src="https://www.youtube.com/watch?v=5qbjKpxfD64">
                <div class="overlay-bg no-top no-bottom">
                    <div class="v-center">
                        <div class="container position-relative z1000">
                            <div class="row align-items-center">
                                <div class="col-lg-6 text-light">
                                    <h4><span class="id-color">Araç Kiralamanın Hızlı ve Kolay Yolu</span></h4>
                                    <div class="spacer-10"></div>
                                    <h1 class="mb-2">Konforlu Bir Araçla Dünyayı Keşfedin</h1>
                                    <div class="spacer-10"></div>
                                    <p class="lead">Son derece konforlu araçlardan oluşan filomuzla unutulmaz maceralara atılın ve dünyayı benzersiz bir konfor ve tarzla keşfedin.</p>
                                </div>

                                <div class="col-lg-6">
                                    <div class="spacer-single sm-hide"></div>
                                    <div class="p-4 rounded-3 shadow-soft text-light" data-bgcolor="rgba(0, 0, 0, .6)">
                                        

                                        <form name="contactForm" id='contact_form' method="post">
                                            {% csrf_token %}
                                            <h5>Araç tipiniz nedir?</h5>

                                            <div class="de_form de_radio row g-3">
                                                <div class="radio-img col-lg-3 col-sm-3 col-6">
                                                    <input id="radio-1a" name="Car_Type" type="radio" value="Residential" checked="checked">
                                                    <label for="radio-1a"><img src="{% static 'images/select-form/car.png' %}" alt="">Car</label>
                                                </div>

                                                <div class="radio-img col-lg-3 col-sm-3 col-6">
                                                    <input id="radio-1b" name="Car_Type" type="radio" value="Office">
                                                    <label for="radio-1b"><img src="{% static 'images/select-form/van.png' %}" alt="">Van</label>
                                                </div>

                                                <div class="radio-img col-lg-3 col-sm-3 col-6">
                                                    <input id="radio-1c" name="Car_Type" type="radio" value="Commercial">
                                                    <label for="radio-1c"><img src="{% static 'images/select-form/minibus.png' %}" alt="">Minibus</label>
                                                </div>

                                                <div class="radio-img col-lg-3 col-sm-3 col-6">
                                                    <input id="radio-1d" name="Car_Type" type="radio" value="Retail">
                                                    <label for="radio-1d"><img src="{% static 'images/select-form/sportscar.png' %}" alt="">Prestige</label>
                                                </div>
                                            </div>

                                            <div class="spacer-20"></div>

                                            <div class="row">
                                                <div class="col-lg-6 mb20">
                                                    <h5>Alış Yeriniz</h5>
                                                    <input type="text" name="PickupLocation" onfocus="geolocate()" placeholder="Alış konumunuzu girin" id="autocomplete" autocomplete="off" class="form-control">

                                                    <div class="jls-address-preview jls-address-preview--hidden">
                                                        <div class="jls-address-preview__header">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 mb20">
                                                    <h5>İade Yeriniz</h5>
                                                    <input type="text" name="DropoffLocation" onfocus="geolocate()" placeholder="Teslim konumunuzu girin" id="autocomplete2" autocomplete="off" class="form-control">

                                                    <div class="jls-address-preview jls-address-preview--hidden">
                                                        <div class="jls-address-preview__header">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 mb20">
                                                    <h5>Teslim Alma Tarihi ve Saati</h5>
                                                    <div class="date-time-field">
                                                        <input type="text" id="date-pickerr" name="Collection Date" value="" placeholder="Tıkla" autocomplete="off">
                                                        <select name="Pick Up Time" id="pickup-time">
                                                            <option selected disabled value="Select time">Saat</option>
                                                            <option value="00:00">00:00</option>
                                                            <option value="00:30">00:30</option>
                                                            <option value="01:00">01:00</option>
                                                            <option value="01:30">01:30</option>
                                                            <option value="02:00">02:00</option>
                                                            <option value="02:30">02:30</option>
                                                            <option value="03:00">03:00</option>
                                                            <option value="03:30">03:30</option>
                                                            <option value="04:00">04:00</option>
                                                            <option value="04:30">04:30</option>
                                                            <option value="05:00">05:00</option>
                                                            <option value="05:30">05:30</option>
                                                            <option value="06:00">06:00</option>
                                                            <option value="06:30">06:30</option>
                                                            <option value="07:00">07:00</option>
                                                            <option value="07:30">07:30</option>
                                                            <option value="08:00">08:00</option>
                                                            <option value="08:30">08:30</option>
                                                            <option value="09:00">09:00</option>
                                                            <option value="09:30">09:30</option>
                                                            <option value="10:00">10:00</option>
                                                            <option value="10:30">10:30</option>
                                                            <option value="11:00">11:00</option>
                                                            <option value="11:30">11:30</option>
                                                            <option value="12:00">12:00</option>
                                                            <option value="12:30">12:30</option>
                                                            <option value="13:00">13:00</option>
                                                            <option value="13:30">13:30</option>
                                                            <option value="14:00">14:00</option>
                                                            <option value="14:30">14:30</option>
                                                            <option value="15:00">15:00</option>
                                                            <option value="15:30">15:30</option>
                                                            <option value="16:00">16:00</option>
                                                            <option value="16:30">16:30</option>
                                                            <option value="17:00">17:00</option>
                                                            <option value="17:30">17:30</option>
                                                            <option value="18:00">18:00</option>
                                                            <option value="18:30">18:30</option>
                                                            <option value="19:00">19:00</option>
                                                            <option value="19:30">19:30</option>
                                                            <option value="20:00">20:00</option>
                                                            <option value="20:30">20:30</option>
                                                            <option value="21:00">21:00</option>
                                                            <option value="21:30">21:30</option>
                                                            <option value="22:00">22:00</option>
                                                            <option value="22:30">22:30</option>
                                                            <option value="23:00">23:00</option>
                                                            <option value="23:30">23:30</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 mb20">
                                                    <h5>Teslim Etme Tarihi ve Saati</h5>
                                                    <div class="date-time-field">
                                                        <input type="text" id="date-pickerr-2" name="Collection Date" value="" placeholder="Tıkla" autocomplete="off">
                                                        <select name="Collection Time" id="collection-time">
                                                            <option selected disabled value="Select time">Saat</option>
                                                            <option value="00:00">00:00</option>
                                                            <option value="00:30">00:30</option>
                                                            <option value="01:00">01:00</option>
                                                            <option value="01:30">01:30</option>
                                                            <option value="02:00">02:00</option>
                                                            <option value="02:30">02:30</option>
                                                            <option value="03:00">03:00</option>
                                                            <option value="03:30">03:30</option>
                                                            <option value="04:00">04:00</option>
                                                            <option value="04:30">04:30</option>
                                                            <option value="05:00">05:00</option>
                                                            <option value="05:30">05:30</option>
                                                            <option value="06:00">06:00</option>
                                                            <option value="06:30">06:30</option>
                                                            <option value="07:00">07:00</option>
                                                            <option value="07:30">07:30</option>
                                                            <option value="08:00">08:00</option>
                                                            <option value="08:30">08:30</option>
                                                            <option value="09:00">09:00</option>
                                                            <option value="09:30">09:30</option>
                                                            <option value="10:00">10:00</option>
                                                            <option value="10:30">10:30</option>
                                                            <option value="11:00">11:00</option>
                                                            <option value="11:30">11:30</option>
                                                            <option value="12:00">12:00</option>
                                                            <option value="12:30">12:30</option>
                                                            <option value="13:00">13:00</option>
                                                            <option value="13:30">13:30</option>
                                                            <option value="14:00">14:00</option>
                                                            <option value="14:30">14:30</option>
                                                            <option value="15:00">15:00</option>
                                                            <option value="15:30">15:30</option>
                                                            <option value="16:00">16:00</option>
                                                            <option value="16:30">16:30</option>
                                                            <option value="17:00">17:00</option>
                                                            <option value="17:30">17:30</option>
                                                            <option value="18:00">18:00</option>
                                                            <option value="18:30">18:30</option>
                                                            <option value="19:00">19:00</option>
                                                            <option value="19:30">19:30</option>
                                                            <option value="20:00">20:00</option>
                                                            <option value="20:30">20:30</option>
                                                            <option value="21:00">21:00</option>
                                                            <option value="21:30">21:30</option>
                                                            <option value="22:00">22:00</option>
                                                            <option value="22:30">22:30</option>
                                                            <option value="23:00">23:00</option>
                                                            <option value="23:30">23:30</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <input type='submit' id='send_message' value='Find a Vehicle' class="btn-main pull-right">

                                            <div class="clearfix"></div>
                                            
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="position-absolute d-flex bottom-20">
                        <div class="de-marquee-list d-marquee-small">
                            <div class="d-item">
                            <span class="d-item-txt">SUV</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Hatchback</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Crossover</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Convertible</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Sedan</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Sport</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Coupe</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Minivan</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Station Wagon</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Pickup</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Minivan</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            </div>
                        </div>

                        <div class="de-marquee-list d-marquee-small">
                            <div class="d-item">
                            <span class="d-item-txt">SUV</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Hatchback</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Crossover</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Convertible</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Sedan</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Sports Car</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Coupe</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Minivan</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Station Wagon</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Pickup Truck</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Minivans</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            <span class="d-item-txt">Exotic Cars</span>
                            <span class="d-item-display">
                                <i class="d-item-dot"></i>
                            </span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-cars">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 offset-lg-3 text-center">
                            <h2>Our Vehicle Fleet</h2>
                            <p>Driving your dreams to reality with an exquisite fleet of versatile vehicles for unforgettable journeys.</p>
                            <div class="spacer-20"></div>
                        </div>

                        <div class="clearfix"></div>

                        <div id="items-carousel" class="owl-carousel wow fadeIn">

                            {% for car in cars %}
                                <div class="col-lg-12">
                                    <div class="de-item mb30">
                                        <div class="d-img">
                                            <img src="{{car.image1}}" class="img-fluid" alt="">
                                        </div>
                                        <div class="d-info">
                                            <div class="d-text">
                                                <h4>{{car.brand}}&nbsp;{{car.series}}</h4>
                                                <!-- <div class="d-item_like">
                                                    <i class="fa fa-heart"></i><span>74</span>
                                                </div> -->
                                                <div class="d-atr-group">
                                                    <span class="d-atr"><img src="{% static 'images/icons/1.svg' %}" alt="">{{car.number_of_seats}}</span>
                                                    <span class="d-atr"><img src="{% static 'images/icons/2.svg' %}" alt="">2</span>
                                                    <span class="d-atr"><img src="{% static 'images/icons/3.svg' %}" alt="">{{car.number_of_doors}}</span>
                                                    <span class="d-atr"><img src="{% static 'images/icons/4.svg' %}" alt="">{{car.case_type}}</span>
                                                </div>
                                                <div class="d-price">
                                                    Günlük <span>{{car.price_per_day}}₺</span>
                                                    <a class="btn-main" href="{% url 'car_detail' car.slug %}">Kirala</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </section>            

            <section class="text-light jarallax">
                <img src="{% static 'images/background/2.jpg' %}" class="jarallax-img" alt="">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInRight">
                            <h2>Müşterilere her türlü fırsat için geniş bir yelpazede <span class="id-color">ticari araçlar</span> ve <span class="id-color">lüks araçlar</span> sunuyoruz.</h2>
                        </div>
                        <div class="col-lg-6 wow fadeInLeft">
                            Araç kiralama acentemizde, bütçesi ne olursa olsun herkesin güvenilir ve konforlu bir araç kullanmanın keyfini yaşamayı hak ettiğine inanıyoruz. Şık sedanlardan geniş SUV'lara kadar çeşitli bakımlı araçlardan oluşan bir filoyu rekabetçi fiyatlarla seçtik. Kolaylaştırılmış kiralama sürecimizle, istediğiniz aracı hızlı ve rahat bir şekilde rezerve edebilirsiniz. İster bir iş gezisi, ister aile tatili için ulaşıma ihtiyacınız olsun, ister sadece bir hafta sonu kaçamağının tadını çıkarmak isteyin, programınıza uygun esnek kiralama seçeneklerimiz mevcuttur.
                        </div>
                    </div>
                    <div class="spacer-double"></div>
                    <div class="row text-center">
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count transparent text-light wow fadeInUp">
                                <h3 class="timer" data-to="15425" data-speed="3000">0</h3>
                                Hours of Work
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count transparent text-light wow fadeInUp">
                                <h3 class="timer" data-to="8745" data-speed="3000">0</h3>
                                Clients Supported
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count transparent text-light wow fadeInUp">
                                <h3 class="timer" data-to="235" data-speed="3000">0</h3>
                                Awards Winning
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-sm-30">
                            <div class="de_count transparent text-light wow fadeInUp">
                                <h3 class="timer" data-to="15" data-speed="3000">0</h3>
                                Years Experience
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section aria-label="section">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 offset-lg-3 text-center">
                            <h2>Özelliklerimiz</h2>
                            <p>Unutulmaz maceraların ve kusursuz mobilite çözümlerinin önünü açan bir rahatlık, güvenlik ve özelleştirme dünyasını keşfedin.</p>
                            <div class="spacer-20"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-3">
                            <div class="box-icon s2 p-small mb20 wow fadeInRight" data-wow-delay=".5s">
                                <i class="fa bg-color fa-trophy"></i>
                                <div class="d-inner">
                                    <h4>Birinci Sınıf Hizmetler</h4>
                                    Lüksün olağanüstü özenle buluştuğu yerde, unutulmaz anlar yaratır ve her beklentinizi aşar.
                                </div>
                            </div>
                            <div class="box-icon s2 p-small mb20 wow fadeInL fadeInRight" data-wow-delay=".75s">
                                <i class="fa bg-color fa-road"></i>
                                <div class="d-inner">
                                    <h4>7/24 Yol Yardımı</h4>
                                    En çok ihtiyaç duyduğunuz anda güvenilir destek, sizi güven ve gönül rahatlığıyla hareket halinde tutar.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <img src="{% static 'images/misc/car-2.png' %}" alt="" class="img-fluid wow fadeInUp">
                        </div>

                        <div class="col-lg-3">
                            <div class="box-icon s2 d-invert p-small mb20 wow fadeInL fadeInLeft" data-wow-delay="1s">
                                <i class="fa bg-color fa-tag"></i>
                                <div class="d-inner">
                                    <h4>Minimum Masrafla Kalite</h4>
                                    Maksimum değer için maliyetleri en aza indirirken kaliteyi yükselterek uygun fiyatlı parlaklığın kilidini açmak.
                                </div>
                            </div>
                            <div class="box-icon s2 d-invert p-small mb20 wow fadeInL fadeInLeft" data-wow-delay="1.25s">
                                <i class="fa bg-color fa-map-pin"></i>
                                <div class="d-inner">
                                    <h4>Ücretsiz Teslim Alma ve Teslim Etme</h4>
                                    Araç kiralama deneyiminize ekstra bir kolaylık katan ücretsiz teslim alma ve bırakma hizmetlerinin keyfini çıkarın.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-img-with-tab" class="bg-dark text-light">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 offset-lg-7">
                            
                            <h2>Müşteriler İçin Sadece Kalite</h2>
                            <div class="spacer-20"></div>
                            
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                              <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Lüks</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Konfor</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Prestij</button>
                              </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><p>Piyasada en çok rağbet gören lüks araçlardan oluşan titizlikle seçilmiş bir koleksiyon sunuyoruz. İster yüksek performanslı bir spor otomobilin sportif cazibesini, ister şık ve lüks bir sedanın sofistikeliğini veya birinci sınıf bir SUV'un çok yönlülüğünü tercih edin, seçkin zevkinize uygun mükemmel bir otomobilimiz var.</p></div>
                              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><p>Yolculuğunuz boyunca rahatınıza ve konforunuza öncelik veriyoruz. İster bir iş seyahatine çıkıyor ister rahat bir tatilin tadını çıkarıyor olun, konforlu bir yolculuğun dünyalar kadar fark yaratabileceğini biliyoruz. Bu nedenle, özel ihtiyaçlarınızı karşılayan çok çeşitli bakımlı, konforlu araçlar sunuyoruz.</p></div>
                              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><p>Prestijin lüksün ötesine geçtiğini biliyoruz. Bu, bir açıklama yapmak, sofistike olmayı kucaklamak ve hayattaki daha ince şeylerin tadını çıkarmakla ilgilidir. Bu nedenle zarafet, stil ve statü yansıtan prestijli otomobillerden oluşan seçkin bir seçki sunuyoruz.</p></div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="image-container col-md-6 pull-right" data-bgimage="url({% static 'images/misc/e2.jpg' %}) center"></div>
            </section>

            <section id="section-news">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 offset-lg-3 text-center">
                            <h2>Son Haberler</h2>
                            <p>Son dakika haberleri, yeni bakış açıları ve derinlemesine kapsam - en son haberlerimiz, içgörülerimiz ve analizlerimizle bir adım önde olun.</p>
                            <div class="spacer-20"></div>
                        </div>
                        
                        <div class="col-lg-4 mb10">
                            <div class="bloglist s2 item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <div class="date-box">
                                            <div class="m">10</div>
                                            <div class="d">MAR</div>
                                        </div>
                                        <img alt="" src="{% static 'images/news/pic-blog-1.jpg' %}" class="lazy">
                                    </div>
                                    <div class="post-text">                         
                                        <h4><a href="news-single.html">En İyi Seyahat Deneyiminin Tadını Çıkarın<span></span></a></h4>
                                        <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur.</p>
                                        <a class="btn-main" href="#">Daha Fazlası</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                
                        <div class="col-lg-4 mb10">
                            <div class="bloglist s2 item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <div class="date-box">
                                            <div class="m">12</div>
                                            <div class="d">MAR</div>
                                        </div>
                                        <img alt="" src="{% static 'images/news/pic-blog-2.jpg' %}" class="lazy">
                                    </div>
                                    <div class="post-text">                           
                                        <h4><a href="news-single.html">Araç Kiralamanın Geleceği<span></span></a></h4>
                                        <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur.</p>
                                        <a class="btn-main" href="#">Daha Fazlası</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                
                        <div class="col-lg-4 mb10">
                            <div class="bloglist s2 item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <div class="date-box">
                                            <div class="m">14</div>
                                            <div class="d">MAR</div>
                                        </div>
                                        <img alt="" src="{% static 'images/news/pic-blog-3.jpg' %}" class="lazy">
                                    </div>
                                    <div class="post-text">                            
                                        <h4><a href="news-single.html">Sırt Çantalı Gezginler İçin Tatil İpuçları<span></span></a></h4>
                                        <p>Dolore officia sint incididunt non excepteur ea mollit commodo ut enim reprehenderit cupidatat labore ad laborum consectetur.</p>
                                        <a class="btn-main" href="#">Daha Fazlası</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-faq">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h2>Herhangi Bir Sorunuz Var Mı?</h2>
                            <div class="spacer-20"></div>
                        </div>
                    </div>
                    <div class="row g-custom-x">
                        <div class="col-md-6 wow fadeInUp">
                            <div class="accordion secondary">
                                <div class="accordion-section">
                                    <div class="accordion-section-title" data-tab="#accordion-1">
                                        Araç Kiralamaya nasıl başlayabilirim?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-1">
                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-2">
                                        Her plan için fark nedir?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-2">
                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-3">
                                        Ne tür bir Araç Kiralamaya ihtiyacım var?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-3">
                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 wow fadeInUp">
                            <div class="accordion secondary">
                                <div class="accordion-section">
                                    <div class="accordion-section-title" data-tab="#accordion-b-4">
                                        Neden alan adına ihtiyacım var?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-b-4">
                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-b-5">
                                        Web sitem bilgisayar korsanlarından nasıl korunur?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-b-5">
                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-b-6">
                                        Web sitemi nasıl yedeklerim?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-b-6">
                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-call-to-action" class="bg-color-2 pt60 pb60 text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-1">
                            <h2 class="s2">Daha fazla bilgi için bizi arayın. Anatolia Wheels müşteri hizmetleri size her zaman yardımcı olmak için burada.</h2>
                        </div>

                        <div class="col-lg-5 text-lg-center text-sm-center">
                            <div class="phone-num-big">
                                <i class="fa fa-phone"></i>
                                <span class="pnb-text">
                                    Şimdi Bizi Arayın
                                </span>
                                <span class="pnb-num">
                                    +90 555 000 00 00
                                </span>
                            </div>
                            <a href="#" class="btn-main">Bize Ulaşın</a>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
        <!-- content close -->
        <a href="#" id="back-to-top"></a>

{% endblock %}