{% extends 'base.html' %}
{% load static %}
{% block content %}
            <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Kaydol</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->
             
            <section aria-label="section">
                <div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<h3>Hesabınız yok mu? Şimdi kaydolun.</h3>
                            <p>Henüz bir hesabınız yoksa, bu fırsatı kaçırmayın! Şimdi kaydolun ve ayrıcalıklardan yararlanmaya başlayın.</p>
							
							<div class="spacer-10"></div>
							
                            <span class="mb-0 text-muted">
                                {% if msg %}
                                    <p class="text-danger">{{ msg | safe }}</p>
                                {% endif %}
                            </span>
                            
                            <!-- <form method="post">
                                {% csrf_token %}
                            
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <input type='text' name="username" id='username' class="form-control" placeholder="Kullanıcı Adı">
                                        </div>
                                    </div>
                            
                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <input type='text' name="email" id='email' class="form-control" placeholder="E-Posta">
                                        </div>
                                    </div>
                            
                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <input type='password' name="password1" id='password1' class="form-control" placeholder="Şifre">
                                        </div>
                                    </div>
                            
                                    <div class="col-md-6">
                                        <div class="field-set">
                                            <input type='password' name="password2" id='password2' class="form-control" placeholder="Tekrar Şifre">
                                        </div>
                                    </div>
                            
                                    <div class="col-md-12">
                                        <div id='submit' class="pull-left">
                                            <input type='submit' value='Kaydol' class="btn-main color-2">
                                        </div>
                            
                                        <div id='mail_success' class='success'>Your message has been sent successfully.</div>
                                        <div id='mail_fail' class='error'>Sorry, an error occurred this time sending your message.</div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </form> -->
                            
                            <form class="form-border" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    {{ form.as_p }}
                                    <div class="col-md-12">
                                        <div id='submit' class="pull-left">
                                            <input type='submit' value='Kaydol' class="btn-main color-2">
                                        </div>
                                    </div>
                                </div>
                            </form>
						</div>
                    </div>
				</div>
            </section>
			
			
        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>
        
{% endblock %}